[user]
	email = without.auth0@gmail.com
	name = bl4z1ng
[init]
	defaultBranch = main
[status]
	branch = true
	showStash = true
	showUntrackedFiles = true
[diff]
	renames = copies
	interHunkContext = 10
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = code
[help]
	autocorrect = prompt