[user]
	email = without.auth0@gmail.com
	name = bl4z1ng
[init]
	defaultBranch = main
[status]
	branch = true
	showStash = true
	showUntrackedFiles = true
[log]
	abbrevCommit = true # short commit hash
	graphColors = blue,yellow,cyan,magenta,green,red
[diff]
	# changes for more pleasing diff view
	renames = copies
	interHunkContext = 10
[push]
	# automatically set remote branch, if not yet set
	autoSetupRemote = true
[color]
	diff = auto
	status = auto
	ui = true
[color "decorate"] # color scheme for output
	HEAD = red
	tag = yellow
	branch = magenta
	remoteBranch = green
[color "branch"]
	current = magenta
	local = default
	remote = green
	upstream = green
	plain = blue
[core]
	editor = zed
[help]
	autocorrect = prompt
